# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import sys, os

In [10]:
sys.path.append('/Users/johnleonard/Desktop/JLpy_Utilities/')
from JLplots import *

In [14]:
df = pd.read_csv('census_data.csv')
display(pd.DataFrame(df.columns))
display(df.head())

                 0
0              age
1        workclass
2        education
3    education_num
4   marital_status
5       occupation
6     relationship
7             race
8           gender
9     capital_gain
10    capital_loss
11  hours_per_week
12  native_country
13  income_bracket

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [26]:
df['income_bracket_numeric'] = df['income_bracket']==' <=50K'
df['income_bracket_numeric'] = df['income_bracket_numeric'].astype(int)

### Perform a Train Test Split on the Data

In [28]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['income_bracket','income_bracket_numeric'])
y = df[['income_bracket_numeric']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [43]:
feature_columns_list = []

for column in list(X.columns):
    dtype = X[column].dtype
    if dtype == 'int64' or dtype == 'int32' or dtype == 'float':
        feature_columns_list.append(tf.feature_column.numeric_column(column))
    else:
        feature_columns_list.append(tf.feature_column.categorical_column_with_hash_bucket(column, hash_bucket_size=1000))
        
display(feature_columns_list)

[_NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _HashedCategoricalColumn(key='workclass', hash_bucket_size=1000, dtype=tf.string),
 _HashedCategoricalColumn(key='education', hash_bucket_size=1000, dtype=tf.string),
 _NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _HashedCategoricalColumn(key='marital_status', hash_bucket_size=1000, dtype=tf.string),
 _HashedCategoricalColumn(key='occupation', hash_bucket_size=1000, dtype=tf.string),
 _HashedCategoricalColumn(key='relationship', hash_bucket_size=1000, dtype=tf.string),
 _HashedCategoricalColumn(key='race', hash_bucket_size=1000, dtype=tf.string),
 _HashedCategoricalColumn(key='gender', hash_bucket_size=1000, dtype=tf.string),
 _NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _HashedCategoricalColumn(key='native_country', hash_bucket_size=1000, dtype=tf.string)]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [45]:
input_fn_train = tf.estimator.inputs.pandas_input_fn(x = X_train, 
                                                     y= y_train.squeeze(), 
                                                     batch_size=128, 
                                                     num_epochs=None, 
                                                     shuffle=True)
input_fn_train

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [46]:
model = tf.estimator.LinearClassifier(feature_columns = feature_columns_list, 
                                      n_classes=2, 
                                      config=None, partitioner=None, warm_start_from=None, loss_reduction='weighted_sum', sparse_combiner='sum')

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a28e459e8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [48]:
history = model.train(input_fn = input_fn_train,
                      steps=2000)

WARNING:tensorflow:From /Users/johnleonard/anaconda3/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /Users/johnleonard/anaconda3/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /Users/johnleonard/anaconda3/lib/python3.6/site-packages/tensorflow/python/training/monitored_session.py:804: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h/model.ckpt.
INFO:tensorflow:loss = 88.722855, step = 1
INFO:tensorflow:global_step/sec: 183.177
INFO:tensorflow:loss = 562.3134, step = 101 (0.548 sec)
INFO:tensorflow:global_step/sec: 412.533
INFO:tensorflow:loss = 260.04202, step = 201 (0.241 sec)
INFO:tensorflow:global_step/sec: 416.622
INFO:tensorflow:loss = 357.63885, step = 301 (0.241 sec)
INFO:tensorflow:global_step/sec: 410.888
INFO:tensorflow:loss = 263.0091, step = 401 (0.244 sec)
INFO:tensorflow:global_step/sec: 414.824
INFO:tensorflow:loss = 96.2258, step = 501 (0.240 sec)
INFO:tensorflow:global_step/sec: 420.194
INFO:tensorflow:loss = 649.9606, step = 601 (0.240 sec)
INFO:tensorflow:global_step/sec: 399.828
INFO:tensorflow:loss = 566.1065, step = 701 (0.249 sec)
INFO:tensorflow:global_step/sec: 400.168
INFO:tensorflow:loss = 273.65363, step = 801 (0.250 sec)
INFO:tensorflow:global_step/sec: 377.119
INFO:tensorflow:loss = 43.014847, step = 901 (0.266 sec)
INFO:tensorflow:global_step/sec: 367.923
INFO:tensorflow:loss = 114.213585, step = 1001 (0.270 sec)
INFO:tensorflow:global_step/sec: 292.474
INFO:tensorflow:loss = 196.4967, step = 1101 (0.344 sec)
INFO:tensorflow:global_step/sec: 399.283
INFO:tensorflow:loss = 54.619057, step = 1201 (0.249 sec)
INFO:tensorflow:global_step/sec: 327.214
INFO:tensorflow:loss = 280.74762, step = 1301 (0.307 sec)
INFO:tensorflow:global_step/sec: 321.821
INFO:tensorflow:loss = 53.830574, step = 1401 (0.311 sec)
INFO:tensorflow:global_step/sec: 344.184
INFO:tensorflow:loss = 553.97015, step = 1501 (0.290 sec)
INFO:tensorflow:global_step/sec: 392.839
INFO:tensorflow:loss = 63.80101, step = 1601 (0.255 sec)
INFO:tensorflow:global_step/sec: 375.934
INFO:tensorflow:loss = 44.32632, step = 1701 (0.265 sec)
INFO:tensorflow:global_step/sec: 338.403
INFO:tensorflow:loss = 270.55554, step = 1801 (0.295 sec)
INFO:tensorflow:global_step/sec: 378.708
INFO:tensorflow:loss = 53.530663, step = 1901 (0.266 sec)
INFO:tensorflow:Saving checkpoints for 2000 into /var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h/model.ckpt.
INFO:tensorflow:Loss for final step: 40.89617.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [57]:
def y_pred(X, model):
    input_fn_pred = tf.estimator.inputs.pandas_input_fn(x = X, batch_size=128, num_epochs=1, shuffle=False)
    y_pred = [pred['class_ids'][0] for pred in list(model.predict(input_fn_pred))]
    
    return y_pred
    
y_pred_train = y_pred(X_train, model)
y_pred_test = y_pred(X_test, model)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h/model.ckpt-2000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/dk/jmp2jdj96xd00z6w7mbmgvh40000gn/T/tmpzf057s4h/model.ckpt-2000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [58]:
from sklearn.metrics import classification_report

In [73]:
classification_report_train = classification_report(y_train, y_pred_train)
print('classification_report_train:\n',classification_report_train)

classification_report_test = classification_report(y_test, y_pred_test)
print('classification_report_test:\n',classification_report_test)

classification_report_train:
              precision    recall  f1-score   support

          0       0.72      0.58      0.64      5291
          1       0.87      0.93      0.90     16524

avg / total       0.84      0.84      0.84     21815

classification_report_test:
              precision    recall  f1-score   support

          0       0.72      0.58      0.64      2550
          1       0.88      0.93      0.90      8196

avg / total       0.84      0.85      0.84     10746